body {
    margin: 180px auto;
    width: 90%;
    background-image: url("/images/header4.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: inherit;
}

.navbar.navbar-default{
    font-family: 'Lato', sans-serif !important;
}

nav.navbar-nav.navbar-right{
    float: left;
}

.text-container{
    margin:30px 10px;
    border: none;
}

.nav.navbar-nav.nav-tabs{
    border: none;
}

nav ul, footer ul {
    font-family: 'Lato', sans-serif !important;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size: 1.1em;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

ul.linklist{
    font-size: 1.2em;
    line-height: 1.4em;
}

ol.tutlist{
    font-size: 1.3em;
    line-height: 1.8em;
}

footer ul{
    margin-top: 5px;
    font-family: 'Lato', sans-serif !important;
}

a {
    text-decoration: none;
    color: #777;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h3{
    opacity: 0.85;
    padding-left: 10px;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    text-indent:2em;
    opacity: 0.9;
}


div.terminal {
    font-family: "Courier New", Courier, monospace;
    font-size: 1.2em;
    font-weight: bold;

    color:            white; /*#9F9C59 ;*/
    background-color: #2E4413; /*#163d10;*/

    width:  auto;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;

    border: 3px solid black;
    margin: 10px;

}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.7em;
}

ul.posts li {
    list-style: none;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.tutorial{
    float: right;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;

}

img.about{
    display: block;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;

    width: auto;
    height: 150px;
}

li.la{
    text-align: left
}

.developer{
    text-indent: 0em;
    text-align: center;
}
