body {
    margin: 60px auto;
    width: 70%;
    background-image: url("/images/header.jpg");
    background-repeat: no-repeat;
    background-size: cover auto;
    background-position: inherit;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size: 1em;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

ul.linklist{
    font-size: 1.2em;
    line-height: 1.4em;
}

ol.tutlist{
    font-size: 1.2em;
    line-height: 1.4em;
}

a {
    text-decoration: none;
    color: #777;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

p.terminal {
    font-family: "Courier New", Courier, monospace
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.7em;
}

ul.posts li {
    list-style: none;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.tutorial{
  float: right;
  margin-left: auto;
  margin-right: auto;
}

img.about{
  float: left;
  margin: 0 0 10px 10px;
  width: auto;
  height: 150px;
}

li.la{
  text-align: left
}

