<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/documentation">Documentation</a></li>
						<li><a href="/papers.html">Publications</a></li>
						<li><a href="/links.html">Links</a></li>
						<li><a href="/screenshots">Screenshots</a></li>
						<li><a href="/development.html">Development</a></li>
						<li><a href="/about.html">About</a></li>
	    		</ul>
			</nav>
			<h3>{{page.title}}</h3>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:theresnoactual@ddres.com">ther could be an email address</a></li>
	        		<li><a href="https://www.google.com">maybe github page ?</a></li>
				</ul>
			</footer>
		</body>
	</html>
