<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
            		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
			</head>
		<body>
			<nav class="navbar navbar-default">
            <div class="container-fluid">
				<div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
					<a href="/index.html" class="navbar-brand"><i class="fas fa-home"></i> Home</a>
				</div>

                <ul class="nav navbar-nav">
                    <li><a href="/documentation.html"><i class="fas fa-book"></i> Documentation</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-atom"></i> Resources <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/papers.html">Publications</a></li>
                            <li><a href="/links.html">Links</a></li>
                            <li><a href="/screenshots">Screenshots</a></li>
                        </ul>
                    <li><a href="/development.html"><i class="fab fa-connectdevelop"></i> Development</a></li>
                    </li>
                </ul>
                <div class="collapse navbar-collapse" id="bs-nav-demo">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/about.html"><i class="fas fa-users"></i> About</a></li>
                        <li><a href="/downloads.html"><i class="fas fa-download"></i> Downloads</a></li>
                    </ul>
                </div>
				</div>
			</nav>
		
			<h3>{{page.title}}</h3>
			<div class="text-container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:fp.verbalizer@gmail.com">Mail</a></li>
	        		<li class="la"><a href="https://github.com/marvinki/verbalizer">Project repository</a></li>
			</ul>
			</footer>
	<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		
		</body>
	</html>
